* {
    font-family: sans-serif;
    margin: 0; /*  Margem Externa */
    padding: 0; /*  Margem Interna */
    box-sizing: border-box;  
}
/* MENU SUPERIOR */

.cabecalho-superior {
    background-color: white;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d3d3d3;
}

ul {
    display: flex;
    gap: 100px;
    list-style: none;
    margin-left: 100px;
   
}

button {
    font-weight: 400;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    cursor: pointer;
   
}

.logo {
    height: 30px;
}



/* PARTE INFERIOR */
.caixa-azul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.titulo-iphone {
    font-size: 20px;
}

.titulo-secundario {
    font-size: 40px; /*  Tamanho do texto */
    margin-top: 10px; /*  Margem parte de cima */
    margin-bottom: 20px; /*  Margem parte de baixo */
}

.paragrafo {
    font-size: 15px;
    margin-bottom: 25px;
}

.preco {
    font-size: 20px;
    color: #626262;
    font-weight: 300;
    margin-bottom: 30px;
}

.botao {
    background-color: #0071e3;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}

.troca-cor {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

.azul {
    background-color: #81A5C4;
}

.amarelo {
    background-color: #F7DA47;
}

.branco {
    background-color: #C1C1C1;
}

.preto {
    background-color: #272D33;
}

.vermelho {
    background-color: #B50012;
}

.roxo {
    background-color: #EDE7F1;
}

.escolha-cor {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 15px;
}

.iphone {
    width: 450px;
    margin-top: 100px;
    z-index: 99;
}

.circulo {
    width: 100%;
    height: 100%;
    background: #81A5C4;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(600px at right 1000px);
}